* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-right {
  position: fixed;
  right: 0.8em;
  top: 1.5em;
}

#IconMenu {
  float: right;
  margin-right: 0.9em;
}

#IconMenu:hover {
  opacity: 0.5;
}

.Images, .Gmail {
  text-decoration: none;
  font-family: Arial, Helvetica, serif;
  font-size: 0.8rem;
  color: black;
  padding: 1rem 1rem 1rem 0;
  padding-bottom: 0;
  margin-top: auto;
  vertical-align: text-bottom;
  position: relative;
  top: 5px;
}

.Images:hover, .Gmail:hover {
  text-decoration: underline;
}

#SignIn {
  background-color: #5587df;
  width: 5em;
  height: 2em;
  float: right;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.9em, 0.8em;
  border: none;
  cursor: pointer;
}

#SignIn:hover {
  background-color: #1b50ac;
}

.LeftTopLinks {
  font-size: 0.8em;
  font-family: Arial, Helvetica, serif;
  text-decoration: none;
  color: black;
  padding: 1rem 0 0 1.2rem;
  position: relative;
  top: 2em;
  opacity: 0.8;
}

.LeftTopLinks:hover {
  text-decoration: underline;
}

main {
  width: 32em;
  margin: 12em auto 7rem;
  text-align: center;
  position: static;
  z-index: 1;
}

#search-blank {
  width: 100%;
  height: 3.5em;
  border-radius: 3em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding-left: 3rem;
  padding-right: 3rem;
  display: inline;
  z-index: 1;
}

.searchbox {
  display: inline-block;
  width: 100%;
  z-index: 1;
}

#Magnifying_Glass {
  margin: 0.8rem 0 0 1rem;
  position: absolute;
  display: inline;
  float: left;
  z-index: 2;
}

#Mic {
  float: right;
  display: inline;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: -2.2em;
  left: -1.2em;
  z-index: 3;
}

#GoogleSearch, #FeelingLucky {
  background-color: rgba(236, 230, 230, 0.8);
  color: #494646;
  cursor: pointer;
  height: 2rem;
  width: auto;
  padding: 0.5rem 0.7rem 0.7rem 0.5rem;
  border: 0ch;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#GoogleSearch:hover, #FeelingLucky:hover {
  outline: 0.5px #c0bebe solid;
}

.p1 {
  font-size: 0.8em;
  font-family: Arial, Helvetica, serif;
  margin-top: 1rem;
}

.p2 {
  display: block;
  font-size: 0.8em;
  font-family: Arial, Helvetica, serif;
  color: black;
  opacity: 0.7;
  display: block;
  margin-inline-start: 1rem;
  text-decoration: none;
  background-color: rgba(236, 230, 230, 0.8);
  padding: 0.8rem;
  border: 0.5px #ada9a9 solid;
  border-width: 0px 0px 0.5px;
}

#FooterParagraph:hover {
  text-decoration: underline;
}

#FooterParagraph {
  text-decoration: none;
  color: black;
}

.EndPage {
  font-family: Arial, sans-serif;
  margin-inline-start: 1rem;
  text-decoration: none;
  background-color: rgba(236, 230, 230, 0.8);
  padding: 0.8rem;
  box-sizing: content-box;
  font-size: 0.8em;
  height: 0.7rem;
}

.footer-left {
  display: inline;
  color: black;
  margin-left: 2vw;
  position: absolute;
  left: 0;
  text-decoration: none;
  background-color: rgba(236, 230, 230, 0.8);
}

.footer-right {
  display: inline;
  color: black;
  position: absolute;
  right: 0;
  text-decoration: none;
  background-color: rgba(236, 230, 230, 0.8);
}

#Advertising, #Business, #HowSearchWorks {
  color: black;
  text-decoration: none;
  margin-right: 1rem;
  opacity: 0.7;
}

#Privacy, #Terms, #Settings {
  color: black;
  text-decoration: none;
  margin-right: 1rem;
  opacity: 0.7;
}

#Advertising:hover, #Business:hover, #HowSearchWorks:hover, #Privacy:hover, #Terms:hover, #Settings:hover {
  text-decoration: underline;
}
